body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .85em;
}

/* Title */
h1 {
    font-size: 3em;
    color: #757575;
    text-align: center;
    margin: 0px 15px;
}

/* Categories */
h2 {
    color: #397249;
    margin-bottom: 5px;
}
/* Category Bar */
h2:before {
    content: "";
    display: inline-block;
    margin-right: 1%;
    width: 16%;
    height: 10px;
    background-color: #9CB770;
}
h2:hover {
    background-color: #397249;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #333;
}

h3 {
    margin: 0px 2px;
}

ul {
    margin-top: 0px;
    list-style-type: none;
}

ul h3 {
    margin: 0px;
}

blockquote {
    text-align: center
}

hr {
    color: #A6A6A6;
}

