body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .85em;
    margin: 10px auto;
    max-width: 1000px;
}

header {
    text-align: center;
    margin: auto;
    max-width: 800px;
}

header h1 {
    font-size: 1.75em;
    color: #757575;
    margin: .3em 0;
}

header h2 {
    font-size: 1em;
    margin: 0 0 .6em;
}

#content {
    margin: 0 10% 0 10%;
}

.category {
    margin: 0 0 .85em;
}

.category h1 {
    font-size: 1.2em;
    color: #397249;
    margin: 0 0 .4em;
    border-bottom: 2px solid #9CB770;
}

.category h1:before {
    content: "";
    display: inline-block;
    margin-right: 1%;
    width: 3em;
    height: .8em;
    background-color: #9CB770;
}

.category h2 {
    font-size: 1em;
    margin: 0 0 .2em;
}

.category ul {
    margin: 0 0 .5em;
    list-style-type: none;
}

@page {
    size: 8.27in 11.69in;
    margin: .25in .5in .25in .5in;
}
