body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .85em;
    max-width: 800px;
    margin: 10px auto;
}

header {
    border-top: 2px solid #A6A6A6;
    border-bottom: 2px solid #A6A6A6;
    text-align: center;
    margin: 0 0 .85em;
}

header h1 {
    font-size: 1.75em;
    color: #757575;
    margin: .3em 0;
}

header h2 {
    font-size: 1em;
    margin: 0 0 .6em;
}

#content {
    margin: 0 15%;
}

.category {
    margin: 0 0 .85em;
}
.category h1 {
    font-size: 1.2em;
    color: #397249;
    margin: 0 0 .4em;
}

.category h1:before {
    content: "";
    display: inline-block;
    margin-right: 1%;
    width: 3em;
    height: .8em;
    background-color: #9CB770;
}

.category h2 {
    font-size: 1em;
    margin: 0 0 .2em;
}

.category ul {
    margin: 0 0 .5em;
    list-style-type: none;
}
